.panel {
  width: 500px;
  overflow: hidden;
  margin: auto;
  &-left {
    min-width: 20%;
    min-height: 100px;
    background-color: red;
    float: left;
    resize: horizontal;
  }
  &-right {
    max-width:80%;
    min-height: 100px;
    background-color: yellow;
    float: left;
  }
}